body {
    background-color:#666;
    text-align:center;
    font-size: 20px;
    font-family:Verdana, Helvetica, sans-serif;
    color:#fff;
    }
#wrapper {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    }
.image_info {
    display:block;
    font-size:10px;
    color:#999;
    border:0px;
    }
.image_info a {
    text-decoration:none;
    color:#fff;
    }
img {
    border-width: 0;
    }
.image {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5px;
    }
.image img {
    border: none;
    display:block;
    }
.small, .small a {
    text-decoration:none;
    color:#777;
    }
#praktijkinfo {
    display:inline-block;
    margin-top:5px;
    margin-right:auto;
    margin-left:auto;
    height: 50px;
    width: 1024px;
    padding: 1em;
    color: #7f0000;
    }

div.messagesubject {
    font-size: 40px;
    margin-top:1em;
    display:block;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    width: 1024px;
    padding: 0.5em;
    background-color: #7f0000;
    }

div.messagebody {
    /*border: solid 1px #000;*/
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    height: 700px;
    width: 1048px;
    color: #fff;
    }

.teletekstplaatje {
    width: 1024px;
    height: 768px;
}

div#category {
    margin-left:auto;
    margin-right:auto;
    width: 1024px;
    margin-top: 0.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #7f0000;
    text-align:center;
    }


.catbold {
    color: #fff;
    font-weight: bold;
    }

.catnormal {
    color:#565656;
    }
