/** 
* Maatgeving:
* font-size = 24px, dan 24px=1em, dus 1024px == 42.667em 
* font-size = 16px, dan 16px=1em, dus 1024px == 64em 
*/

body {
    background-color:#666;
    text-align:center;
    font-size: 1.5em;
    font-family:Verdana, Helvetica, sans-serif;
    color:#fff;
    }
#wrapper {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    /*border: solid 1px #036;*/
    }
#praktijkinfo {
    display:inline-block;
    margin-right:auto;
    margin-left:auto;
    /*width: 41.667em;*/
    padding: 0.5em;
    color: #7f0000;
/*    border: solid 1px #00FF00;*/
    }

div.messagesubject {
    display:block;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    height: 40px;
    font-size: 1.1em;
    padding-top: 4px;
    /*width: 42.667em;*/
    background-color: #7f0000;
    color: #fff;
/*    border: solid 1px #00FF00;*/
    }

div.messagebody {
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    /*height: 650px;*/
    /*width: 42.667em;*/
    color: #fff;
/*    border: solid 1px #FF8040;*/
    }
div#category {
    margin-left:auto;
    margin-right:auto;
    /*width: 42.667em;*/
    background-color: #666;
    text-align:center;
/*    border: solid 1px #FFFF00;*/
    }
.image_info {
    display:block;
    font-size:10px;
    color:#999;
    border:0px;
    }
.image_info a {
    text-decoration:none;
    color:#fff;
    }
img {
    border-width: 0;
    }
.image {
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5px;
    }
.image img {
    border: none;
    display:block;
    }
.small, .small a {
    text-decoration:none;
    color:#777;
    }
.teletekstplaatje {
    width: I800px;
    height: 600px;/
}

.catbold {
    color: #fff;
    font-weight: bold;
    }

.catnormal {
    color:#565656;
    }
li {
    display: inline;
}
