body {
 font-family: Verdana, Sans-serif;
 font-size: medium;
 background-color: #666;
 color: #036;
 padding: 0.5em;
 margin: 0;
}

a:link, a:hover, a:visited, a:active {
    color: #036;
}

a:hover {
    background-color: #036;
    color: #fff;
    text-decoration: none;
}

div.wrapper {
    width: 1000px;
}

div.content {
 background-color: #F7FBC4;
 color: #036;
 position: relative;
 border: solid 1px #036;
 line-height: 1em;
 padding: 1em;
}
div.messagesubject {
 margin-top: 0.5em;
 margin-left: 0.5em;
 margin-right: 0.5em;
 text-align: right;
 font-size: 70%;
}

div.footer {
 margin-top: 0.5em;
 margin-left: 0.5em;
 margin-right: 0.5em;
 text-align: right;
 font-size: 70%;
}

.bold {
 font-weight: bold;
}
.menu {
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.hoofdmenu {
    background-color: #FFFF00;
}

.pmenu {
    background-color: #FFFF80;
}

.lmenu {
    background-color: #FFFFC4;
}

table {
    text-align: left;
    padding-bottom: 1em;
}

table.berichtbeheer {
 margin-top: 1em;
 font-size: 90%;
}

tr.berichtbeheer_row_even {
 background-color: #fff;
}

th {
 padding-left: 5px;
 padding-top: 3px;
 padding-bottom: 1em;
 vertical-align: top;
}

td {
 padding-left: 5px;
 padding-top: 3px;
 padding-bottom: 1em;
 vertical-align: top;
}

a.lettermenu {
    padding-right: 5px;
}

.icon_link {
    border: 0px;
    height: 16px;
    text-decoration: none;
}

.warning {
    color: #f00;
}

span.inactive_message {
    background-color: #CCC;
}

span.active_message {
    background-color: inherit;
}

/* todo begin */
.done {
    font-size: 85%;
    background-color: #080;
    color: #fff;
}
.todo {
    font-size: 85%;
    background-color: #800;
    color: #fff;
}

.dont {
    text-decoration: line-through;
    font-size: 85%;
    background-color: #808080;
    color: #fff;
}

.working_on {
    font-style: italic;
    font-size: 100%;
}

.van {
    background-color: #FFA500;
}

.aan {
    background-color: #1E90FF;
}
/* todo einde */
