#wrapper {
    margin: 10px;
    text-align:left;
    }
body {
    background-color:#808080;
    text-align:center;
    font-size: 20px;
    font-family:Verdana, Helvetica, sans-serif;
    color:#fff;
    }
div#leftbar {
    background-image:url('/files/images/full_logo_blurred.png');
    background-repeat:no-repeat;
    background-position: center;
    width: 400px;
    height: 1000px;
    float:left;
    background-color: #808080;
    padding-left: 1em;
    padding-right: 1em;
    text-align:center;
    }
div#praktijkinfo {
    height:100px;
    line-height: 100px;
    text-align:center;
    font-size: 32px;
    display:inline-block;
    color:#56453f;
    }
div#message {
    display:block;
    margin-right:auto;
    margin-left:auto;
    height: 1000px;
    font-size: 40px;
    }
div#messagesubject {
    line-height: 100px;
    text-align: center;
    height: 100px;
    background-color: #9d1b36;
    color: #fff;
    }
div#messagebody {
    /*border-right: solid 5px #000;*/
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    height: 900px;
    background-color: transparent;
    /*color: #56453f;*/
    color: #fff;
    font-size: 32px;
    }
.small, .small a {
    text-decoration:none;
    color:#777;
    }
.teletekstplaatje {
    width: 1024px;
    height: 768px;
    }
/* category begin */
ul.category {
    margin-top: 5em;
    padding-top: 5px;
    }
li.category {
    list-style: none;
    font-size: 40px;
    text-align:left;
    margin-bottom:1em;
    }
.catbold {
    background-color: #808080;
    color: #9d1b36;
    font-weight: bold;
    font-style: italic;
/*    border-top: 2px solid #9d1b36;
    border-bottom: 2px solid #9d1b36;*/
    }
.catnormal {
    color: #56453f;
    /*border-top: 2px solid #56453f;
    border-bottom: 2px solid #56453f;*/
    }
/* category eind */
